
<footer class="nb-footer" style="background-color: black; border-top: none !important;">
<div class="container" style="background-color: black; padding-top: 0 !important; margin-top: 0 !important;">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <img src="images/logo.png" class="img-responsive center-block" alt="">
  <p style="text-transform: uppercase; font-weight: 500;">Somos una empresa certificada en asesoramiento de imagen contamos en nuestro equipo con profesionales con mas de 5 años de experiencia para que tu experiencia sea inolvidable.</p>

  <div class="social-media">
    <ul class="list-inline" style="display: -webkit-inline-box;">
      <li style="margin-right: 20px;"><a href="http://www.nextbootstrap.com/" title=""><i class="fab fa-facebook"></i></a></li>
      <li style="margin-right: 20px;"><a href="http://www.nextbootstrap.com/" title=""><i class="fab fa-instagram"></i></a></li>
      <li style="margin-right: 20px;"><a href="http://www.nextbootstrap.com/" title=""><i class="fab fa-instagram"></i></a></li>
      <li><a href="http://www.nextbootstrap.com/" title=""><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Ayudas</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Como registrarme</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Como agendar una cita con nosotros</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Como tomar ciertos planes de tratamientos</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>ASESORAMIENTO</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Información</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Acerca de nosotros</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Quienes somos?</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Porque hacemos esto?</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Contactanos</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Preguntas frecuentes</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Seguridad y Privacidad</h2>
  <ul class="list-unstyled">
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Personal que trabaja en la empresa</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Medidas de salud</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Politica de tratamiento de datos</a></li>
    <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>Locaciones en vivo</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Misión</h2>
  <p>Aplicacion web con el fin de ayudar a las personas de bajos o medianos recursos con la intencion de llevar la moda, la relajacion el estilo y el espiritu en alto de poder lucirse como siempre han querido.</p>
  
</div>
</div>
</div>
</div>

<section class="copyright">
<div class="container">
<div class="row">
<div class="col-sm-6">
<p>Copyright © 2017. Your Company.</p>
</div>
<div class="col-sm-6"></div>
</div>
</div>
</section>
</footer>
